<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite Pruebas en Chrome" >
    <test name="Pruebas en Chrome Headless">
        <parameter name="browser" value="chrome"/>
        <parameter name="headless" value="no"/>
        <classes>
            <!--class name="tests.UserTest"/>
            <class name="tests.BasePageTest"/>
            <class name="tests.AcercaDeTest"/>
            <class name="tests.AlertTest"/-->
            <class name="tests.uMonteverde.LoginTest"/>
            <class name="tests.uMonteverde.MainMenuTest"/>
            <class name="tests.uMonteverde.RedireccionaTest"/>
            <class name="tests.uMonteverde.BuscarElementosTest"/>
            <class name="tests.uMonteverde.AcercaDeTest"/>
            <class name="tests.uMonteverde.AlertTest"/>
            <class name="tests.uMonteverde.InteractConElementosTest"/>
            <class name="tests.uMonteverde.LlenarFormularioTest"/>
            <class name="tests.uMonteverde.ValidarTablasTest"/>

        </classes>
    </test>
</suite>
